#shopify-section-template--16647271121189__image_banner {
	.banner__content {
		@media screen and (max-width: 749px) {
			min-height: 36rem;
		}

		.h0 {
			margin-bottom: 30px;
			line-height: 0.8;
			letter-spacing: 0.05rem;
			font-size: 28px;
			font-weight: 700;
			text-transform: uppercase;

			@media( min-width: $screen-sm-min ) { font-size: 50px; }
			@media( min-width: $screen-md-min ) { font-size: 80px; }
		}

		.banner__text {
			max-width: 465px;
			margin: 0 auto;
			line-height: 1.4;
			font-size: 16px;
			color: $white;
			
			@media( min-width: $screen-sm-min ) {
				margin-bottom: 45px;
				font-size: 21px;
			}
		}
	}
}

// featured

#shopify-section-template--16647271121189__featured_collection {
	.collection {
		max-width: 80%;
		margin: 0 auto;
		padding-right: 40px;
		padding-left: 40px;

		@media(min-width: $screen-lg-min) { max-width: 95%; }

		#Slider-template--16647271121189__featured_collection {
			z-index: 5;

			.grid__item {
				.card-wrapper .card {
					.price {
						font-size: 16px;
						color: $brownishOrange;
					}

					> .card__content > .card__information {
						@media(min-width: $screen-lg-min) {
							display: flex;
							flex-direction: column;
							justify-content: space-between;
						}
					}
				}
			}
		}

		.slider-buttons {
			.slider-counter { display: none; }
			
			.slider-button {
				transition: 0.3s ease background-color, transform 0.3s ease;
				transform: translateY( calc( -50% - 30px ) );
				position: absolute;
				z-index: 10;
				top: 50%;
				width: 45px;
				height: 45px;
				border-radius: 50%;
				background-color: $brownishOrange;
				color: $white;

				&.slider-button--prev { left: 0; }
				&.slider-button--next { right: 0; }

				.icon { color: inherit; }

				&:hover {
					transform: translateY( calc( -50% - 35px ) );
					background-color: $sand;
				}
			}
		}

		.collection__view-all {
			.button {
				background-color: $brownishOrange;
				color: $white;

				&:hover {
					background-color: darken($brownishOrange, 10%);
				}
			}
		}
	}
}

#shopify-section-template--16647271121189__multicolumn {
	.page-width {
		max-width: none;
		@media(min-width: $screen-lg-min) { padding: 0; }
	}

	.multicolumn-list {
		@media(min-width: $screen-lg-min) {
			column-gap: 0;

			.multicolumn-list__item {
				width: 33.33%;
				max-width: 33.33%;
			}
		}

		.multicolumn-card {
			.multicolumn-card__image-wrapper {
				@media(min-width: $screen-lg-min) {
					margin: 0;
				}
			}

			.multicolumn-card__info {
				position: absolute;
				bottom: 0;
				right: 0; left: 0;

				.link {
					transition: background-color 0.3s ease, color 0.3s ease;
					display: block;
					margin-top: 0;
					border-radius: 100px;
					padding: 15px 20px;
					text-transform: uppercase;
					font-size: 30px;
					color: $white;

					@media( min-width: $screen-md-min ) { font-size: 35px; }
					@media( min-width: $screen-lg-min ) {
						font-size: 40px;

						&:hover {
							background-color: $sand;
							color: $black;
						}
					}

					.icon-wrap { display: none; }
				}
			}
		}
	}
}

// collage

#shopify-section-template--16647271121189__81de9e4e-8c6f-4d74-9e8b-351b2840504e {
	.collage {
		@media(min-width: $screen-lg-min) {
			grid-template-columns: repeat(4, minmax(0,1fr));
		}
	}

	.card-wrapper {
		.card__content {
			.card__heading {
				font-size: 14px;
				color: $black;
			
				@media( min-width: $screen-sm-min ) { font-size: 18px; }
			}

			.card-information { display: none; }
		}
	}
}

#shopify-section-template--16647271121189__18e24c54-eb9b-47e5-a007-233955ed7df7 {
	.banner__media {
		> img {
			object-position: left;
		}
	}

	.banner__content {
		.banner__box {
			@media(min-width: $screen-lg-min) {
				padding-right: 0;
				padding-left: 0;
			}
		}

		.h0 {			
			margin-bottom: 15px;
			line-height: 1.2;
			letter-spacing: 0.05rem;
			font-size: 40px;
			font-weight: 700;
			text-transform: uppercase;
			
			@media( min-width: $screen-sm-min ) { font-size: 60px; }
			
			@media( min-width: $screen-md-min ) {
				line-height: 0.8;
				font-size: 80px;
			}
		}
	}
}
