#shopify-section-footer .footer {
    .footer__content-top {
        padding-bottom: 0;
    }

    .footer__content-bottom {
        border-top: 0;
        padding-top: 0;

        .footer__column--info {
            padding-top: 0;
            .footer__copyright { margin-top: 0; }
        }
    }

    .footer-social-nav {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            padding: 0 10px;

            a { font-size: 35px; }

            &.social-icon-fb {
                a { font-size: 29px; }
            }
        }
    }

    a {
        transition: color 0.3s ease;
        text-decoration: underline;
        color: inherit;

        &:hover { color: $brownishOrange; }
    }
}
