#shopify-section-announcement-bar {
    .announcement-bar {
        border-bottom: none;
        font-size: 15px;

        .h5 {
            padding: 9px 0;
            font-size: inherit;
        }
    }
}

#shopify-section-header {
    position: absolute;
    top: 0;
    right: 0; left: 0;
    padding-top: 35px;

    .header-wrapper {
        border-bottom: none;
        background-color: transparent;
        color: $white;

        .header__menu-item {
            font-size: 15px;
            color: inherit;

            .icon-caret { width: 11px; }
            &:hover { color: $sand; }
        }

        .header__icons {
            .icon {
                width: 3rem;
                height: 3rem;
                color: $white;

                &-search {
                    width: 2rem;
                    height: 2rem;
                }
            }

            .link:hover .icon { color: $sand; }
        }

        .header__submenu {
            color: $murkyGreen;
            li a {
                &:hover {
                    background-color: $brownishOrange;
                    color: $white;
                }
            }
        }
    }
}

#Details-menu-drawer-container {
    .icon.icon-hamburger { color: $white; }

    .header__icon--menu span {
        position: relative;
        z-index: 5;
    }
    
    #menu-drawer {
        top: 0;

        .menu-drawer__submenu { top: 70px; }
    }
}
